[core]
	editor = nvim
	preloadindex = true
	excludesfile = ~/.gitignore_global
	autocrlf = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[pack]
	threads = 0
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Perry Zhu
	email = perryzhu2004@outlook.com
[fetch]
	prune = true
